<footer class="" th:fragment="footer_fragment">

    <!-- ページトップへ移動 -->
    <!-- <div class="pagetop_block">
            <p class="pagetop"><a href="#header">このページの上部へ</a></p>
        </div> -->


    <div class="container">
        <div class="footer_max_frame">

            <div class="content-display-flex" style="color: white;">

                <!-- ロゴマーク -->
                <div class="symbol_mark">
                    <img th:src="@{/images/Owl_Search-removebg.png}" alt="" id="image">
                    <p class="logo_type">Owl Squad</p>
                </div>

                <!-- アドレス -->
                <div class="address">
                    <span class="fs-4 p-1 border-bottom d-flex">宛先</span>
                    <p class="p-1 m-0">〒241-0826</p>
                    <p class="p-1 m-0">神奈川県横浜市旭区東希望が丘１２８−４</p>
                    <p class="p-1 m-0">電話： 045-367-1881</p>
                </div>

                <!-- twitter -->
                <div class="text-muted">
                    <a href="https://twitter.com/YSE_senmon?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                        class="text-reset">
                        <i class="fa-brands fa-twitter fa-4x" style="color: white;"></i>
                        <p>Twitter</p>
                    </a>
                </div>

                <!-- instagram -->
                <div class="text-muted">
                    <a href="https://www.instagram.com/yse_yokohama1882/?hl=ja" class="text-reset">
                        <i class="fa-brands fa-instagram fa-4x" style="color: white;"></i>
                        <p>Instagram</p>
                    </a>
                </div>

            </div>

        </div>
    </div>

</footer>